.main-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.app-status {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 130, 157);
    font-weight: 600;

}