.main-container-card{
    height: 100%;
   
}
.tab-content {
    padding: 0rem; 
     padding-top: 0rem; 
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}
.tab-content.vertical {
    padding-top: 0;
    position: relative !important;
    top: -42px;
}
table.table th, table.table td {
    padding-top: 0.6rem;
    /* padding-bottom: 1rem; */
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px none rgba(0,0,0,.125);
}

  ::-webkit-scrollbar {
    display: none;
}