html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    background-color: #ffffff;
    color: #000;
    padding: 1px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-layout {
    height: 91vh;
    display: grid;
    grid-template-areas: 'menu content';
    grid-template-columns: 200px auto;
    grid-template-rows: auto 20px;
    padding: 0;
    margin: 0;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: content;
    font-size: medium;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-menu {
    text-align: center;
    grid-area: menu;
    font-size: large;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.buttons-container button {
    background: #007ad9;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-item {
    cursor: pointer;
    font-size: 23px;
    color: #000;
    display: block;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    padding: 5px !important;
    margin: 5px;
    border-radius: 10px;
}

.menu-item:hover,
.active {
    color: white;
    background: #007ad9;
    transition: 0.3s;
    padding: 5px !important;
    border-radius: 10px;
}

select {
    flex-grow: 5;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #007ad9;
    background-image: none;
    flex: 1;
    padding: 0.5em;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.content-container {
    padding: 5px;
    margin: 5px;
}

/* Custom Select */
.printer-select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #007ad9;
    overflow: hidden;
    border-radius: .25em;
    width: 100%;
}

/* Arrow */
.printer-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #007ad9;
    color: white;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.printer-select:hover::after {
    color: white;
}